@import '../../styles.scss';

.row {
    // height: 34vmax;

    &.block1 {

        & .main-content-01 {
            background-color: $white-3;
            background-image: url('../../assets/img/main-content/block1/main-content-person-alternative.png');
            background-size: 55rem;
            background-position: 2.5rem -9rem;
            height: inherit;
            border-radius: 24px;
            transition: all .2s ease-out;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 0 0 $white-3, 0 4px 24px 0 rgba(0, 0, 0, 0.08);
                background-color: $white-2;

            }

            @media(min-width: $grid-min-xs) and (max-width: $grid-max-sm){
                background-position: -6.5rem -8rem;
            }
        }

        & .main-content-02 {
            background-color: $white-3;
            height: 16.75vmax;
            border-radius: 24px;
            transition: all .2s ease-out;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 0 0 $white-3, 0 4px 24px 0 rgba(0, 0, 0, 0.08);
                background-color: $white-2;
            }

            &:nth-child(1) {
                background-image: url('../../assets/img/main-content/block1/main-content-iphone.png');
                background-size: 20rem;
                background-position: 12rem -3rem;
                background-repeat: no-repeat;
            }

            &:nth-child(2) {
                background-image: url('../../assets/img/main-content/block1/main-content-basketball.png');
                background-size: 16rem;
                background-position: 15rem 2rem;
                background-repeat: no-repeat;
            }

            @media(min-width: $grid-min-xs) and (max-width: $grid-max-sm){
                background-position: -6.5rem -8rem;
            }

        }
    }

    &.block2 {

        & .main-content-01 {
            background-color: $white-3;
            background-image: url('../../assets/img/main-content/block2/main-content-entertainment-2.png');
            background-size: 19rem;
            background-position: -5rem 0;
            background-repeat: no-repeat;
            height: 16.75vmax;
            border-radius: 24px;
            transition: all .2s ease-out;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 0 0 $white-3, 0 4px 24px 0 rgba(0, 0, 0, 0.08);
                background-color: $white-2;
            }

        }

        & .main-content-02 {
            background-color: $white-3;
            background-image: url('../../assets/img/main-content/block2/main-content-entertainment-popcorn.png');
            background-size: 20rem;
            background-position: 9rem -1rem;
            background-repeat: no-repeat;
            height: 16.75vmax;
            border-radius: 24px;
            transition: all .2s ease-out;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 0 0 $white-3, 0 4px 24px 0 rgba(0, 0, 0, 0.08);
                background-color: $white-2;
            }
        }

        & .main-content-03 {
            background-color: $white-3;
            background-image: url('../../assets/img/main-content/block2/main-content-entertainment-airplane.png');
            background-size: 20rem;
            background-position: center bottom;
            background-repeat: no-repeat;
            height: 16.75vmax;
            border-radius: 24px;
            transition: all .2s ease-out;

            &:hover {
                transform: scale(1.02);
                box-shadow: 0 0 0 0 $white-3, 0 4px 24px 0 rgba(0, 0, 0, 0.08);
                background-color: $white-2;
            }

        }

    }
}