<main>
    <section class="container">
        <div class="row block1 mt-5">
            <div class="col-12 col-lg-7">
                <div class="card border-0 main-content-01 d-flex justify-content-center h-100">
                    <p class="ps-3 m-0 fw-bold w-50">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure omnis quaerat esse facere saepe,
                        molestiae porro fugiat quae exercitationem minus culpa cum tempora?
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="card border-0 mt-3 mt-lg-0 main-content-02 d-flex justify-content-center">
                    <p class="ps-3 m-0 fw-bold w-50">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="card border-0 mt-3 mt-lg-2 main-content-02 d-flex justify-content-center">
                    <p class="ps-3 m-0 fw-bold w-50">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    </p>
                </div>
            </div>
        </div>

        <div class="row block2">
            <div class="col-12 col-lg-4">
                <div class="card border-0 mt-3 mt-lg-2 main-content-01 d-flex justify-content-center align-items-end">
                    <p class="pe-3 m-0 fw-bold w-50 text-end">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 mt-3 mt-lg-2 main-content-02 d-flex justify-content-center">
                    <p class="ps-3 m-0 fw-bold w-50">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 mt-3 mt-lg-2 main-content-03">
                    <p class="p-3 m-0 fw-bold ">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>

        <div class="row m-3 m-lg-5 pt-5 pb-5">
            <div class="col-12">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt, sequi doloribus ea fugit ut ipsam, unde eum alias illum accusamus magnam voluptates possimus quo. Esse maxime sit possimus. Nesciunt?</h2>
                <p class="fs-4">< paragraph ></p>
            </div>
            <!-- <div class="card border-0"></div> -->
        </div>

        
    </section>
</main>