<main>
    <section class="container">
        <div class="row block1 mt-5">
            <div class="col-12 col-lg-7 card border-0 main-content-01 d-flex justify-content-center">
                <p class="ps-3 m-0 fw-bold w-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure omnis quaerat esse facere saepe,
                    molestiae porro fugiat quae exercitationem minus culpa cum tempora illo commodi excepturi tenetur
                    magni voluptas sint?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ad amet a harum aspernatur, delectus
                    at, officiis aperiam accusantium blanditiis, ea odio doloribus beatae voluptates aliquid inventore
                    expedita enim. Dolorum!
                </p>
            </div>
            <div class="col-12 col-lg-5">
                <div class="card border-0 main-content-02 d-flex justify-content-center">
                    <p class="ps-3 m-0 fw-bold w-50">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure omnis quaerat esse facere saepe,
                        molestiae porro fugiat quae exercitationem sint?
                    </p>
                </div>
                <div class="card border-0 mt-2 main-content-02 d-flex justify-content-center">
                    <p class="ps-3 m-0 fw-bold w-50">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet perferendis reprehenderit
                        dolorum, ut inventore ratione blanditiis, architecto eaque..
                    </p>
                </div>
            </div>
        </div>

        <div class="row block2 mt-3">

            <div class="col-12 col-lg-4">
                <div class="card border-0 main-content-01 d-flex justify-content-center align-items-end">
                    <p class="pe-3 m-0 fw-bold w-50 text-end">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure omnis quaerat esse facere saepe,
                        molestiae porro fugiat quae exercitationem sint?
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 main-content-02 d-flex justify-content-center">
                    <p class="ps-3 m-0 fw-bold w-50">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet perferendis reprehenderit
                        dolorum, ut inventore ratione blanditiis, architecto eaque..
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0 main-content-03">
                    <p class="p-3 m-0 fw-bold ">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet perferendis reprehenderit dolorum, ut inventore ratione blanditiis eaque..
                    </p>
                </div>
            </div>
            <!-- <div class="col-7 card border-0 main-content-01 d-flex justify-content-center">
                <p class="ps-3 m-0 fw-bold w-50">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure omnis quaerat esse facere saepe, molestiae porro fugiat quae exercitationem minus culpa cum tempora illo commodi excepturi tenetur magni voluptas sint?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ad amet a harum aspernatur, delectus at, officiis aperiam accusantium blanditiis, ea odio doloribus beatae voluptates aliquid inventore expedita enim. Dolorum!
                </p>
            </div> -->
        </div>

        <div class="row m-5 pt-5 pb-5">
            <div class="col-12">

                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint deserunt, sequi doloribus ea fugit ut ipsam, unde eum alias illum accusamus magnam voluptates possimus quo. Esse maxime sit possimus. Nesciunt?</h2>
                <p class="fs-4">< paragraph ></p>
            </div>
        </div>

        <div class="row block3 mt-3 mb-5">
            <div class="col-3">
                <div class="card border-0 main-content-01">
                    <p class="p-3 m-0">

                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum minima nulla consequatur quo. Maxime velit aliquam fugit ipsam. Quis sunt aspernatur numquam praesentium culpa iure nam ut ex harum tempore.
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 main-content-01">
                    <p class="p-3 m-0">

                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum minima nulla consequatur quo. Maxime velit aliquam fugit ipsam. Quis sunt aspernatur numquam praesentium culpa iure nam ut ex harum tempore.
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 main-content-01">
                    <p class="p-3 m-0">

                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum minima nulla consequatur quo. Maxime velit aliquam fugit ipsam. Quis sunt aspernatur numquam praesentium culpa iure nam ut ex harum tempore.
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-0 main-content-01">
                    <p class="p-3 m-0">

                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum minima nulla consequatur quo. Maxime velit aliquam fugit ipsam. Quis sunt aspernatur numquam praesentium culpa iure nam ut ex harum tempore.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>