@import '../../../styles.scss';

.bg{
    background-image: url('../../../assets/img/bg-section-initial.jpg');
    background-size: cover;
    background-position: center top;
    height: 100vmax;
    padding: 0;
    @media(min-width: $grid-min-lg) and (max-width: $grid-max-lg){
        height: 70vmax;
    }
    @media(min-width: $grid-min-xl){
        height: 50vmax;
    }
}

.overlay{
    background-color: $black;
    width: inherit;
    height: inherit;
    opacity: .6;
    position: absolute;
}

.container-height-inherit{
    height: inherit;
}

.card{
    border-radius: 1rem;
    background-color: $white;
}

h4{font-family: 'roboto_condensed_light';}

button{
    background-color: $segment-color;
    color: $white;
    z-index: 1;
}