<div class="container-fluid bg text-white">
    <div class="overlay"></div>
    <div class="container container-height-inherit d-flex">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6" style="z-index:1;">
                <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit!

                </h1>
                <h4>
                    Eaque minima impedit harum culpa eos rerum velit, quia aperiam repudiandae quidem veritatis.
                </h4>
            </div>
            <div class="col-lg-4">
                <div class="p-4 card text-dark">

                    <h3 class="mb-5">Abra uma conta e peça um cartão no $Bank</h3>
                    <form action="" class="input-group mt-4">
                        <span class="input-group-text border-top-0 border-end-0 border-start-0 bg-transparent rounded-0" id="basic-addon1">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                        <input type="text" name="" id="" placeholder="Comece pelo seu nome"
                            class="form-control border border-top-0 border-end-0 border-start-0">
                        <button class="w-100 pt-3 pb-3 ps-4 pe-4 mt-4 mb-3 rounded-pill border-0 d-flex justify-content-between" [disabled]="true">
                            Continuar
                            <fa-icon [icon]="faChevronRight"></fa-icon>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>