/* You can add global styles to this file, and also import other style files */

// variables
$white: #fff;
$black: #000;
$grey-dark: #1c1c1c; //#252525
$grey-dark-variant: #696969;

// cards colors
$pantone-magenta: #BE3455;

// card chip colors
$pantone-magenta-chip: #be3454b6;

// flag colors
$flag-master: #191970;

@font-face {
    font-family: roboto_condensed;
    src: url(assets/font/RobotoCondensed/RobotoCondensed-Regular.ttf) format("opentype");
}

@font-face {
    font-family: roboto_condensed_light;
    src: url(assets/font/RobotoCondensed/RobotoCondensed-Light.ttf) format("opentype");
}

@font-face {
    font-family: roboto_condensed_bold;
    src: url(assets/font/RobotoCondensed/RobotoCondensed-Bold.ttf) format("opentype");
}

*{font-family: 'roboto_condensed';}

body{background-color: $grey-dark;}