/* You can add global styles to this file, and also import other style files */

//grid
$grid-max-xxs: 359.98px;
$grid-min-xs: 360px;
$grid-max-xs: 575.98px;
$grid-min-sm: 576px;
$grid-max-sm: 767.98px;
$grid-min-md: 768px;
$grid-max-md: 991.98px;
$grid-min-lg: 992px;
$grid-max-lg: 1199.98px;
$grid-min-xl: 1200px;
$grid-max-xl: 1399.98px;
$grid-min-xxl: 1200px;

// variables
$white: #fff;
$black: #000;
$grey-dark: #1c1c1c; //#252525
$grey-dark-variant: #696969;

// cards colors
$pantone-magenta: #BE3455;

// card chip colors
$pantone-magenta-chip: #be3454b6;

// flag colors
$flag-master: #191970;
$segment-color: #191970;

@font-face {
    font-family: roboto_condensed;
    src: url(assets/font/RobotoCondensed/RobotoCondensed-Regular.ttf) format("opentype");
}

@font-face {
    font-family: roboto_condensed_light;
    src: url(assets/font/RobotoCondensed/RobotoCondensed-Light.ttf) format("opentype");
}

@font-face {
    font-family: roboto_condensed_bold;
    src: url(assets/font/RobotoCondensed/RobotoCondensed-Bold.ttf) format("opentype");
}

*{font-family: 'roboto_condensed';}

body{background-color: $grey-dark;}