/* You can add global styles to this file, and also import other style files */

// variables
$white: #fff;
$black: #000;
$grey-dark: #1c1c1c;
$grey-dark-variant: #696969;

// cards colors
$pantone-magenta: #BE3455;

// card chip colors
$pantone-magenta-chip: #be3454b6;

// flag colors
$flag-master: #191970;


body{background-color: $grey-dark;}