@import '../../../styles.scss';

.credit-card{
    background-color: $magenta-pantone;
    color: $white;
    height: 16rem;
    border-radius: 1rem;

    & .top{
        // top card

    }

    & .center{
        // center card

        & .chip{
            border: 3px solid $magenta-pantone-chip;
            height: 3rem;
            width: 4rem;
            border-radius: .5rem;
            background-color: $white;
        }
    }

    & .bottom{
        // bottom card

        margin-top: 5.5rem;

        & .flag{

            margin-top: -1.5rem;

            & .master{
                background-color: $flag-master;
                border: 1px solid $white;
                height: 3rem;
                width: 3rem;
                height: 3rem;
                width: 3rem;

            }
            & .card{
                background-color: $flag-master;
                border: 1px solid $white;
                height: 3rem;
                width: 3rem;
                height: 3rem;
                width: 3rem;
                margin-left: -1rem;
            }

        }
    }
}