<ng-container>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="credit-card-1 p-3">
                    <div class="top d-flex justify-content-between">
                        <span>platinum</span>
                        <h1>$Bank</h1>
                    </div>

                    <div class="center mt-2 ms-3">
                        <div class="chip"></div>
                    </div>

                    <div class="bottom d-flex justify-content-between">
                        <h5>Aderaldo Barbosa</h5>
                        <div class="flag d-flex justify-content-end">
                            <div class="master rounded-circle"></div>
                            <div class="card rounded-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-3">
                <div class="credit-card-2 p-3">
                    <div class="top d-flex justify-content-between">
                        <span>unlimited</span>
                        <h1>$Bank</h1>
                    </div>

                    <div class="center mt-2 ms-3">
                        <div class="chip"></div>
                    </div>

                    <div class="bottom d-flex justify-content-between">
                        <h5>Aderaldo Barbosa</h5>
                        <div class="flag d-flex justify-content-end">
                            <div class="master rounded-circle"></div>
                            <div class="card rounded-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-block d-xl-block d-md-none col-12 col-xl-4 mb-3">
                <div class="credit-card-3 p-3">
                    <div class="top d-flex justify-content-between">
                        <span>digital</span>
                        <h1>$Bank</h1>
                    </div>

                    <div class="center mt-2 ms-3">
                        <div class="chip"></div>
                    </div>

                    <div class="bottom d-flex justify-content-between">
                        <h5>Aderaldo Barbosa</h5>
                        <div class="flag d-flex justify-content-end">
                            <div class="master rounded-circle"></div>
                            <div class="card rounded-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</ng-container>