@import '../../../styles.scss';

.credit-card{
    background-color: #d61d40;
    color: white;
    height: 16rem;
    border-radius: 1rem;

    & .top{
        // top card

    }

    & .center{
        // center card

        & .chip{
            height: 3rem;
            width: 4rem;
            border-radius: .5rem;
            background-color: white;
        }
    }

    & .bottom{
        // bottom card

        margin-top: 5rem;

        & .flag{

            // margin-top: -2rem;
            margin-top: -1.5rem;

            & .master{
                background-color: #191970;
                border: 1px solid $white;
                // height: 3.5rem;
                // width: 3.5rem;
                height: 3rem;
                width: 3rem;
                height: 3rem;
                width: 3rem;

            }
            & .card{
                background-color: #191970;
                border: 1px solid $white;
                // height: 3.5rem;
                // width: 3.5rem;
                height: 3rem;
                width: 3rem;
                height: 3rem;
                width: 3rem;
                margin-left: -1rem;
            }

        }
    }
}